USE [PIB_SP]
GO
/****** Object:  User [AdminUser]    Script Date: 05/10/2025 19:10:55 ******/
CREATE USER [AdminUser] FOR LOGIN [AdminUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [AdminUser]
GO
/****** Object:  Table [dbo].[Auditoria]    Script Date: 05/10/2025 19:10:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria](
	[AuditoriaID] [int] IDENTITY(1,1) NOT NULL,
	[NomeTabela] [varchar](50) NOT NULL,
	[TipoOperacao] [char](1) NOT NULL,
	[RegistroID] [numeric](18, 0) NOT NULL,
	[DadosAntigos] [nvarchar](max) NULL,
	[DadosNovos] [nvarchar](max) NULL,
	[Usuario] [varchar](100) NOT NULL,
	[DataHora] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARGA]    Script Date: 05/10/2025 19:10:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGA](
	[Município] [varchar](50) NULL,
	[Código IBGE] [varchar](50) NULL,
	["Agropecuária  "] [varchar](50) NULL,
	["Indústria  "] [varchar](50) NULL,
	[Administração Pública] [varchar](50) NULL,
	[Outros serviços] [varchar](50) NULL,
	["Impostos  "] [varchar](50) NULL,
	["PIB "] [varchar](50) NULL,
	["PIB per Capita (2) "] [varchar](50) NULL,
	[Column 9] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARGA2]    Script Date: 05/10/2025 19:10:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGA2](
	[Município] [nvarchar](50) NULL,
	[Código_IBGE] [int] NULL,
	[Agropecuária] [float] NULL,
	[Indústria] [float] NULL,
	[Administração_Pública] [float] NULL,
	[Outros_serviços] [float] NULL,
	[Impostos] [float] NULL,
	[PIB] [int] NULL,
	[PIB_per_Capita_2] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUNICIPIO]    Script Date: 05/10/2025 19:10:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUNICIPIO](
	[ID_MUN] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MUN_NOME] [nvarchar](50) NOT NULL,
	[MUN_COD_IBGE] [nchar](10) NOT NULL,
 CONSTRAINT [PK_MUNICIPIO] PRIMARY KEY CLUSTERED 
(
	[ID_MUN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PIB]    Script Date: 05/10/2025 19:10:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PIB](
	[ID_PIB] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_MUN] [numeric](18, 0) NOT NULL,
	[PIB_TOTAL] [money] NOT NULL,
	[PIB_PER_CAPITA] [money] NOT NULL,
	[PIB_IMPOSTO] [money] NOT NULL,
 CONSTRAINT [PK_PIB] PRIMARY KEY CLUSTERED 
(
	[ID_PIB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PIB_SETOR]    Script Date: 05/10/2025 19:10:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PIB_SETOR](
	[ID_PIB_SET] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_SET] [numeric](18, 0) NOT NULL,
	[ID_PIB] [numeric](18, 0) NOT NULL,
	[PIB_SET_VALOR] [money] NOT NULL,
	[ID_MUN] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_PIB_SETOR] PRIMARY KEY CLUSTERED 
(
	[ID_PIB_SET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SETOR]    Script Date: 05/10/2025 19:10:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SETOR](
	[ID_SET] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[SET_NOME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SETOR] PRIMARY KEY CLUSTERED 
(
	[ID_SET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auditoria] ADD  DEFAULT (getdate()) FOR [DataHora]
GO
ALTER TABLE [dbo].[PIB]  WITH CHECK ADD  CONSTRAINT [FK_PIB_MUNICIPIO] FOREIGN KEY([ID_MUN])
REFERENCES [dbo].[MUNICIPIO] ([ID_MUN])
GO
ALTER TABLE [dbo].[PIB] CHECK CONSTRAINT [FK_PIB_MUNICIPIO]
GO
ALTER TABLE [dbo].[PIB_SETOR]  WITH CHECK ADD  CONSTRAINT [FK_PIB_SETOR_MUNICIPIO] FOREIGN KEY([ID_MUN])
REFERENCES [dbo].[MUNICIPIO] ([ID_MUN])
GO
ALTER TABLE [dbo].[PIB_SETOR] CHECK CONSTRAINT [FK_PIB_SETOR_MUNICIPIO]
GO
ALTER TABLE [dbo].[PIB_SETOR]  WITH CHECK ADD  CONSTRAINT [FK_PIB_SETOR_PIB] FOREIGN KEY([ID_PIB])
REFERENCES [dbo].[PIB] ([ID_PIB])
GO
ALTER TABLE [dbo].[PIB_SETOR] CHECK CONSTRAINT [FK_PIB_SETOR_PIB]
GO
ALTER TABLE [dbo].[PIB_SETOR]  WITH CHECK ADD  CONSTRAINT [FK_PIB_SETOR_SETOR] FOREIGN KEY([ID_SET])
REFERENCES [dbo].[SETOR] ([ID_SET])
GO
ALTER TABLE [dbo].[PIB_SETOR] CHECK CONSTRAINT [FK_PIB_SETOR_SETOR]
GO
